/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* import bootstrap */

:root {
  scroll-behavior: smooth;
  --nav-link: #525b75;
  --nav-header: #6e7891;
  --blue: #1477F0;
  --blue-hover: #2d8bffd0;
  --blue-dark: #334D6E;
  --blue-dark-hover: #3a587e;
  --blue-tasks: #C2CFE0;
  --blue-tasks-hover: #c2cfe081;
  --white: #FFF;
  --black: #000;
  --grey: #666668;
  --lighter-blue: #EBF4FF;
  --lightest-blue: #F6FAFF;
  --dashboard-background: #F5F6F8;
  --divider: #EBEFF2;
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--black);
}

a {
  color: var(--black) !important;
  text-decoration: none !important;
  cursor: pointer;
}

li {
  list-style: none;
}

a:hover {
  color: var(--blue) !important;
  text-decoration: none;
}

a.logo {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24;
  color: var(--blue) !important
}

a.logo:hover {
  color: var(--blue) !important
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  font-size: 70;
}

.page {
  height: 100vh;
  overflow-y: auto;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  font-size: 16 !important;
  font-weight: 600;
}

.navbar_buttons button {
  margin-left: 5px;
}

.btn-block {
  display: flex !important;
}

button {
  padding: 5px 20px !important;
  font-family: "Libre Franklin", sans-serif !important;
  font-size: 20;
  font-weight: 500 !important;
}

button span {
  margin-left: 8px;
}

.btn-primary {
  color: var(--white) !important;
  background-color: var(--blue) !important;
}

.btn-primary:hover {
  color: var(--white) !important;
  background-color: var(--blue-hover) !important;
}

.btn-outline-primary {
  color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.btn-outline-primary:hover {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}

.navbar-collapse {
  flex-grow: unset !important;
  width: 160px;
}

.bg-body-tertiary {
  background-color: var(--white);
}

.card-text {
  color: var(--grey) !important;
}

.testimonial-card_container {
  padding: 0 !important;
}

.testimonial-card_top {
  background-color: var(--lightest-blue);
}

.testimonial-card_bottom {
  background-color: var(--lighter-blue);
}

.footer {
  background-color: var(--lightest-blue);
}

.mycard {
  cursor: pointer;
  border-radius: 2%;
}

.mycard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.2s ease-out;
}

.auth-card {
  max-width: 460px !important;
  width: 100% !important;
}

.card {
  max-height: 580px !important;
  height: 100% !important;
  padding: 40px 12px !important;
  border-radius: 5% !important;
}

.card-signup {
  max-height: 640px !important;
}

.col-6 a:hover {
  background-color: var(--lightest-blue);
  transition: 0.2s ease-in-out;
}

.signup-card_p {
  margin-left: 30px;
}

.card_forgot-pass {
  max-height: 420px !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

.btn-close {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
  border: none !important;
}

.testimonial-card {
  margin: 20px 10px;
}


/* DASHBOARD */

.popup-alert {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--blue-tasks);
  color: var(--blue);
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 14px;
  z-index: 1051;
  transition: opacity 0.3s ease-in-out;
}

.btn-close {
  background-color: var(--blue-tasks);
  padding: 5px;
  border-radius: 10px;
}

.go-back-btn {
  cursor: pointer;
}

.closebtn-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--blue-hover);
  border-radius: 50%;
  cursor: pointer;
}

.closebtn-container .btn-close {
  background-color: transparent;
  border: none;
  font-size: 12px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mid-item {
  border-top: 1px solid #cbd0dd;
  border-bottom: 1px solid #cbd0dd;
}

.inventory-table li {
  border-right: 1px solid #cbd0dd;
}

.inventory-container {
  border-top: 1px solid #cbd0dd;
  border-bottom: 1px solid #cbd0dd;
}


.rightbar-card {
  background-color: var(--white);
  border-radius: 6px;
  width: 100%;
  height: 240px;
}

.rightbar-card_body {
  padding: 15px 20px;
}


/* LOGO */

.toggle-control {
  cursor: pointer;
}


/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 280px;
  z-index: 996;
  transition: all 0.2s !important;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
  background-color: var(--white);
}

.sidebar a span:hover {
  color: var(--blue) !important;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -0px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--white);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--lighter-blue);
}


@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 280px;
  }
}

@media (min-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 10px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -280px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-top: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: var(--grey);
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.nav-item_header {
  color: var(--nav-header);
  font-weight: 600;
  font-size: 0.9rem;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--nav-link) !important; 
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: var(--blue);
}

.sidebar-nav .nav-link.collapsed {
  color: var(--blue);
  background: var(--white);
}

.sidebar-nav .nav-link.collapsed i {
  color: var(--lighter-blue);
}

.sidebar-nav .nav-link:hover {
  color: var(--blue);
  background: var(--dashboard-background);
}


.sidebar-nav .nav-link-container .down-arrow {
  margin-right: 0;
  transition: 0.2s ease-in-out;
}

.sidebar-nav .nav-link-container:not(.collapsed) .down-arrow {
  transform: rotate(180deg);
}

.nav-content {
  font-weight: 600;
  padding: 0;
}

.nav-content li {
  cursor: pointer;
  border-radius: 4px;
}

.sidebarNav .nav-content li:hover {
  background-color: var(--dashboard-background);
}

.nav-content li a span {
  padding-left: 29px;
  color: var(--nav-link) !important;
  font-size: 15px;
}

.nav-icon {
  color: var(--nav-link);
  padding-bottom: 1px;
}

.text-primary {
  min-width: 100px
}

/* HEADER */

.header {
  transition: all 0.2s;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: var(--white);
  padding-left: 20px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: var(--blue);
}

/* PAGE TITLE */

#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.2s;
  min-height: 800px;
  background-color: var(--dashboard-background);
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--blue);
}

/* CARD */

.dashboard-card {
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer;
  height: 364px;
  margin-bottom: 30px;
}

.dashboard-card_body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  color: var(--white);
  border-top: 2px solid var(--divider);
}


/* TASKS CARD */

.task-item {
  border-radius: 4px;
  background-color: var(--blue-tasks);
  width: 124px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-item:hover {
  background-color: var(--blue-tasks-hover);
  transition: 0.2s ease-in-out;
}

.task-item h6 {
  font-size: 14px;
  font-weight: 600;
  color: var(--blue);
}



/* INFO CARD */

.info-card_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--divider);
}

.info-card_item h6 {
  font-weight: 400;
}



/* ORDERS CARD */

.orders-card_divider {
  height: 10px;
}

.orders-card_header {
  justify-content: space-between;
}

.orders-card_header h6 {
  font-weight: 400;
}


/* FAQ PAGE */

.faq-container {
  margin: 10px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.faq-container_body {
  padding: 60px;
}

.faq-toggle {
  padding-left: 0px;
}

.faq-toggle_item {
  padding: 10px 0;
  border-bottom: 2px solid var(--divider);
  cursor: pointer;
}

.faq-toggle_text {
  color: var(--grey);
  font-weight: 500;
  font-size: 14px;
}

.faq-toggle_item .faq-toggle_title .down-arrow {
  margin-right: 0;
  transition: 0.2s ease-in-out;
}

.faq-toggle_item.active .down-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.nav-content {
  transition: max-height 0.3s ease;
}

.error {
  color: red;
}

.user-profile-img_container {
  width: 48px;
  height: 48px;
  margin-left: 6px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.user-profile-img_container img {
  border-radius: 8px;
  max-width: 48px;
  width: 100%;
  height: 100%;
}

.user-profile {
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid var(--dashboard-background);
  border-radius: 10px;
  color: var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

.user-profile:hover {
  transition: 0.1s ease-in-out;
  background-color: var(--blue-hover);
}

.user-profile h6 {
  padding-left: 2px;
}

.user-profile img {
  padding-left: 5px;
}

.username-dropdown {
  margin-left: 8px;
  margin-bottom: 14px;
}

.dropDownProfile {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 270px;
  padding: 15px 20px 5px 15px;
  border-radius: 15px 0 0 15px;
  background-color: var(--blue-dark);
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  color: var(--white);
}

.dropDownProfile::before {
  position: absolute;
  top: -0.9rem;
  right: 2rem;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  transform: rotate(45deg);
}

.dropDownProfile::after {
  transition: 0.2s;
  transform: rotate(45deg);
}


.dropDownProfile ul {
  padding-left: 0px;
}

.dropDownProfile ul li {
  padding-left: 18px;
  border-radius: 8px;
  margin-bottom: 5px;
  cursor: pointer;
}

.dropDownProfile ul li:hover {
  background-color: var(--blue-dark-hover);
}

.dropDownProfile h6 {
  padding-left: 10px;
}

.dropDownProfile .divider {
  height: 10px;
  color: var(--blue-dark);
}

.google-button {
  min-width: 240px;
}

/* Create Item block */

.overlay {
  cursor: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.popup-item-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: var(--white);
  border-radius: 4px;
}

.popup-item-header {
  border-radius: 4px 4px 0 0;
  background-color: var(--dashboard-background);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.popup-item-header .images {
  margin-right: 20px;
}

.popup-item-header .images img {
  margin-left: 4px;
  cursor: pointer;
}

.popup-item-title {
  color: var(--blue-dark)
}

.popup-item-search-section {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

.popup-item-search-section h5 {
  color: var(--blue-dark);
  width: 100px;
  margin-right: 20px;
}

.popup-item-search-section .input-box {
  display: flex;
  align-items: center;
}

.input-box img {
  cursor: pointer;
  position: absolute;
  top: 115px;
  right: 55px;
  padding: 4px;
  border-radius: 6px;
}

.input-box img:hover {
  background-color: var(--dashboard-background);
  transition: 0.2s ease-in-out;
}

.input-box input {
  border: 2px solid var(--dashboard-background);
}

.popup-sections-row {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-section {
  margin: 0 5px;
  height: 460px;
  width: 600px;
  border: 4px solid var(--dashboard-background);
  border-radius: 4px;
}

.popup-section_header {
  color: var(--blue-dark);
  height: 32px;
  display: flex;
  align-items: center;
  background-color: var(--dashboard-background);
}

.popup-section_main.details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-dark);
}

.popup-section_main.details h5 {
  max-width: 560px;
}

.carousel-indicators [data-bs-target] {
  display: none;
}

.carousel-control-prev span .carousel-control-next span {
  padding: 10px;
  background-color: var(--dashboard-background) !important;
}

.item-details-image img {
  margin-top: 20px;
  height: 320px;
  width: auto;
}

.items-section {
  overflow-y: hidden;
  overflow-y: scroll;
  max-height: 400px;
}

.item-details {
  text-align: left;
  color: var(--grey);
  margin-top: 60px;
}

.item-details-section {
  background-color: var(--dashboard-background);
  margin: 10px 40px;
  padding: 10px 20px;
}

.item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 4px;
}

.item:hover {
  background-color: var(--dashboard-background);
  transition: 0.2s ease-in-out;
}

.item-image {
  max-width: 140px;
}

.item-image img {
  width: 100%;
  height: 100%;
}

.item-info {
  margin-left: 20px;
}

.item-info .item-title {
  color: var(--blue-dark)
}

.item-info .item-title {
  text-align: start;
  max-width: 400px;
  font-size: 18px;
}

.item-info .item-detail {
  font-size: 13px;
  color: var(--grey);
  margin: 0;
  padding: 0;
  text-align: start;
}

.empty-results {
  flex-direction: column;
  color: var(--grey);
}

.loading-image {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}

.loading-image {
  width: 120px;
  height: auto;
}

@keyframes spin {
  /* Start at 0 degrees */
  0% {
    transform: rotate(0deg);
  }
  /* End at 360 degrees */
  100% {
    transform: rotate(360deg);
  }
}

/* CALENDAR */

.calendar-header {
  padding-bottom: 25px;
  border-bottom: 2px solid var(--blue-tasks);
}

.fc-button-group button {
  background-color: var(--dashboard-background) !important;
  color: var(--nav-link) !important;
  border: 1px solid var(--nav-header) !important;
  transition: 0.2s;
}

.add-new-task img {
  height: 20px;
  width: 20px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.modal-dialog {
  color: var(--nav-link);

}

.form-floating label{
  z-index: 0 !important;
}

.form-control, .form-select, .form-floating, .form-check {
  font-size: 0.9rem !important;
}

.discard-button {
  border: none;
}

.discard-button p{
  border: none;
  color: var(--blue) !important;
}

.sync-block img {
  width: 16px;
  height: 16px;
  padding-right: 4px;
}

.sync-block {
  transition: 0.2s;
  cursor: pointer;
}

.sync-block:hover {
  color: var(--blue-hover);
}

.modal-header div h5, .modal-header div button p {
  font-size: 0.9rem !important;
}

.event-details-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 8px;
}

.event-details-modal-content {
  padding: 16px 26px;
  height: 100%;
}

.modal-header {
  justify-content: space-between;
}

.index {
  padding-left: 10px !important;
}

.btn-pale-pink {
  background-color: #f8d7da;
  color: #721c24;
  border: none;
}

.qrcode-open_btn {
  width: 110px;
  height: 24px;
}

.qr-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
  cursor: pointer; /* Indicate the user can click to close */
}

.qr-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.qr-modal img {
  max-width: 100%;
  max-height: 90vh; /* Ensure it fits within the viewport */
}
